.cols
	.cols-wrapper.flex-row
		.cols__first.flex-col
			img(src="images/router.png", alt="router").cols__img
			h3.cols__title #1 Webhost Services

			p.cols__text.text-center.text-size_medium This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.

			button(type="button").button.cols__button More

		.cols__second.flex-col
			.cols__domain-name .com
			h3.cols__title #1 Domain Services
			
			p.cols__text.text-center.text-size_medium This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.

			button(type="button").button.cols__button More		

