.cols.page-container
	.cols__first
		img(src="images/router.png", alt="router")
		h3 #1 Webhost Services

		p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.

		button(type="button").button.button--reveal More

	.cols__second
		.cols__domain-name .com
		h3 #1 Domain Services
		
		p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.

		button(type="button").button.button--reveal More		

