section.features.page-container
	h2.text-center Our Features

	h4.text-center Our Best Features

	.features-list.flex-row
		// border fix
		- var imageName = ["operator", "cloud", "db", "growth-dynamic"]; 
		
		- var imagePath = "../images/";
		- var ext = ".png";

		-
			var titles = ["Live Support", "Cloud Technology", "Hi Tech Database", "Live Monitoring"];

		each val, i in imageName
			-var fullImgPath = imagePath + val + ext;
			.text-image-item.text-center
				.img
					img(src=fullImgPath, alt=val)

				.tag.features__tag= titles[i]
				.text-size_medium This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.

		

