include mixins.pug

.header.page-container
	.header-left.flex-row
		figure.logo.header__logo
			img(src="../images/logo.png", alt="logo").fl-left
			figcaption.figcaption Maguwo
				span.text-bold Host

		nav.main-nav.header__main-nav
			+createNavLinksFromList(["Home" , "About", "Pricing", "Domain", "Hosting"])
			
	.contacts.header__contacts
		.text.text-bold.contacts__text Do you need help ? Just Email, Live chat or Call us

		.connections
			.connections__item
				button(type="button").button.connections__button Live Chat
			.connections__item
				b.phone.connections__phone 6284-6534
