.pricing.page-container
	.pricing-info
		.pricing__text-block
			h3.pricing__title Do you want to view Plans &amp; Pricing ?
			div.pricing__direction Follow the button in the right section.
		button(type="button").button.pricing__button.text-center Plans &amp; Pricing