section.welcome.page-container.text-center
	h2 Just a Proffesional Web Hosting Services

	.slogan.welcome__slogan modern  -  fast  -  reliable
	
	.company-img.welcome__company-img
		img(src="images/spinner.png", alt="spinner")
	
	.check-domain
		input(type="text", value="Your Domain Name ...").check-domain__input
		select.check-domain__select
			option .com			
			option .gov
			option .org
		button(type="button").button Check Availability

