section.welcome.page-container.text-center
	h2.welcome__title Just a Proffesional Web Hosting Services

	.tag.welcome__tag modern  -  fast  -  reliable
	
	.company-img.welcome__company-img
		img(src="images/spinner.png", alt="spinner")
	
	.check-domain.flex-row
		input(type="text", value="Your Domain Name ...").input.check-domain__input
		.select-wrapper
			select.select.check-domain__select.text-bold
				option .com
				option .gov
				option .org
		button(type="button").button.check-domain__button.text-size_medium Check Availability

