@import "vars";	// FIX

@mixin colorize($color, $percent: 20%){
	background-color: $color;

	&:hover{
		background-color: darken($color, $percent);
	}
}

.button{	
	border: none;
	padding: 10px 25px;
	display: inline-block;
	
	font-weight: 700;
	
	@include colorize($yellow);
}