@import "vars";
@import "button";

.cols{		

	color: white;
	background-image: linear-gradient(to right, $dark-blue 50%, $yellow 50%);

	.cols-wrapper{
		justify-content: center;		
		padding-top: 85px;
		padding-bottom: 85px;
	}	
	

	&__first, &__second{
		width: 50%;
		align-items: center;		
	}

	&__first{
		.button{
			@include colorize($dark-blue, 5%);
		}
	}
	
	&__img, &__domain-name{
		margin-left: auto;
		margin-right: auto;
	}

	&__domain-name{
		font-size: 133px;
		color: $dark-blue;
		line-height: 1.27;
	}
	
	&__title{
		margin-top: 55px;
		margin-bottom: 10px;
	}

	&__button{
		color: inherit;
		align-self: center;
		margin-top: 35px;
		padding-left: 50px;
		padding-right: 50px;		
		background-color: transparent;
		border: 2px solid white;		
	}

	&__text{
		max-width: 405px;
	}
	
}