@import "vars";

.page-container{
	padding-left: 80px;
	padding-right: 80px;
}

a{
	text-decoration: none;
	color: #000;
}

.nav-link{
	&:hover{
		color: $yellow;
	}	
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-col{
	display: flex;
	flex-direction: column;
}

.fl-left{
	float: left;
	margin-right: 10px;
}

.input, .select, .button{
	font-family: Raleway;
}