.header {
	display: flex;
	background-color: #fff;

	&__contacts{
		padding: 25px 35px;
	}

	&__logo{
		padding-top: 45px;
	}

	&__main-nav{
		padding-top: 45px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 40px;
	}
}

.logo{
	font-family: Rockwell;

	.figcaption{
		overflow: hidden;		
		padding: 5px 40px 5px 0;
	}
}

.header-left{
	align-items: center;
}

.main-nav {
	display: flex;		
	justify-content: space-between;	

	.nav-link {
		margin-right: 40px;
		text-transform: uppercase;
	}
}

.contacts{	
	border-left: 1px solid #ebebeb;

	&__text{
		margin-bottom: 20px;
	}
}

.connections{	
	
	display: table;
	
	&__button, &__phone{
		white-space: nowrap;
	}

	&__button{
		font-size: 14px;
		line-height: 1;		
	}

	&__phone{
		font-family: Lato;
		font-size: 24px;
	}
	
	&__item{				
		display: table-cell;
		vertical-align: middle;

		padding-right: 15px;				

		& + & {
			padding-left: 15px;
		}
		
		position: relative;			

		&::after{
			content: "";
			width: 1px;
			background-color: #202242;
			opacity: .31;
			height: 75%;
			position: absolute;
			right: 0;
			top: 12%;
		}

		&:last-of-type{
			&::after{
				height: 0;
			}
		}
	}
}

