.welcome{
	background-image: url("../images/baloon.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%; // FIX ME
	
	color: #fff;

	padding-top: 150px;
	padding-bottom: 100px;

	&__slogan{
		margin-top: 30px;
		margin-bottom: 40px;
	}

	&__company-img{
		margin-bottom: 60px;
	}
}