@import "vars";

.welcome{
	background-image: url("../images/baloon.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%; // FIX ME		

	color: #fff;

	padding-top: 150px;
	padding-bottom: 100px;

	&__tag{
		margin-top: 30px;
		margin-bottom: 40px;		
	}

	&__company-img{
		margin-bottom: 60px;
	}

	&__title{
		font-family: Rockwell;
	}
}

.check-domain{
	border: 15px solid #ddd;
	max-width: 570px;

	margin-left: auto;
	margin-right: auto;

	&__input, &__select, &__button{
		flex-basis: 30px;
		border: none;		
	}		

	&__input{
		flex-grow: 9;
		padding-left: 20px;
	}

	&__select{
		flex-grow: 4;
		color: black;
		background-color: $yellow;	
	}

	&__button{
		flex-grow: 5;
		color: white;
		border-left: 1px solid;
	}
}